.wrapper {
  width: 1400px;
  margin: 0 auto;
  border: 1px solid var(--gray);
}

.work-area {
 display: flex;
 height: 100vh;
 flex-direction: row;
 justify-content: space-around;
 align-items: stretch;
}

.title {
  text-align: center;
}

.task-monitor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.task-list {
  width: 578px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}